.superhero-table {
  display: flex;
  flex-direction: column;

  .header-line,
  .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid var(--secondary-color);
    padding: 1rem;

    font-family: var(--font-famili-two);

    > span {
      min-width: 250px;
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    &.header-line {
      background-color: var(--principal-color);
      color: var(--white);
    }

    &.line {
      background-color: var(--white);
      color: var(--tertiary-color);

      &:nth-child(odd) {
        background-color: var(--secondary-color);
      }
    }
  }
}
