header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;

  background-color: var(--principal-color);
  min-height: 84px;

  > a {
    > img {
      width: 3rem;
      aspect-ratio: 1;
    }

    > h1 {
      font-size: var(--font-size-large);
      color: var(--white);
    }
  }
}
